<!DOCTYPE html>
<html>
    <head>
        <title>Dans le bois</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>    
    </head>
    <body>
        <section>
            <img src="img/logo.svg" alt="logo" id="logo"/>
            <a id="depuis">(depuis 2020)</a>
            <div>
                <a href="#equipe">équipe</a>
                <a href="#works" @click="changeState('selected')">works</a>
                <a href="#contact">contact</a>
            </div>
        </section>
        <section>
            <a name="works"></a>
            <div v-if="state === 'selected'">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
                <area href="#focusWork" alt="Sun">
            </div>
        </section>
        <section>
            <a name="focusWork"></a>    
            <div>
                <div>
                    <carousel :per-page="1" :navigate-to="someLocalProperty" :mouse-drag="false">
                        <slide>
                          Slide 1 Content
                        </slide>
                        <slide>
                          Slide 2 Content
                        </slide>
                      </carousel>
                </div>
                <div>texte</div>
            </div>
        </section>
        <section>
            <a name="contact"></a>
            <div>
                <div></div>
                <div>
                    <p><a href="mailto:info@danslebois.ca"><span>info</span>@danslebois.ca</a></p>
                    <p><a href="mailto:denis@danslebois.ca">denis@danslebois.ca</a></p>
                    <p><a href="mailto:goeffroy@danslebois.ca">goeffroy@danslebois.ca</a></p>
                    <p><a href="mailto:maxime@danslebois.ca">maxime@danslebois.ca</a></p>
                    <a href="https://www.instagram.com/danslebois/">_</a>
                    <a href="https://www.facebook.com/danslebois.studio/">_</a>
                </div>
                <div>
                    <ul v-if="state === 'selected'">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </section>
        <footer>
            <area href="https://www.instagram.com/danslebois/"></area>
            <area href="https://www.facebook.com/danslebois.studio/"></area>
        </footer>
        <script type="module">
            import VueCarousel from 'vue-carousel';
            Vue.use(VueCarousel);
        </script>
    </body>
</html>