html {
  font-family: "Courier New", sans-serif;
}

html body {
  height: 100%;
  background-color: #e5e5e5;
}

html body div:nth-of-type(1) img {
  width: 5pc;
  top: 10%;
  left: 5%;
  position: absolute;
}

html body div:nth-of-type(1) div {
  text-align: center;
  padding: 20pc;
  /* Fondue au noir sur les boutons du menu */
}

html body div:nth-of-type(1) div a {
  text-decoration: none;
  color: black;
  margin: 1pc 1pc;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

html body div:nth-of-type(1) div :before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

html body div:nth-of-type(1) div :hover, html body div:nth-of-type(1) div :focus, html body div:nth-of-type(1) div :active {
  color: #939598;
}

html body div:nth-of-type(1) div :hover:before, html body div:nth-of-type(1) div :focus:before, html body div:nth-of-type(1) div :active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

html body div:nth-of-type(1) #depuis {
  font-size: 68%;
  left: 25pc;
  top: 10%;
  position: absolute;
}

html body div:nth-of-type(2) ul {
  padding: 4pc;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: "projet1 projet2 projet3 . projet4 projet5 . . projet8" "projet9 projet10 . projet13 projet14 . . projet16 ." ". projet11 . . . projet6 projet7 . ." ". . projet12 . projet15 . . . .";
}

html body div:nth-of-type(2) ul li:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: projet1;
  background: url(img/mosaique/1.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: projet2;
  background: url(img/mosaique/2.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: projet3;
  background: url(img/mosaique/3.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: projet4;
  background: url(img/mosaique/4.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: projet5;
  background: url(img/mosaique/5.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: projet6;
  background: url(img/mosaique/6.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  grid-area: projet7;
  background: url(img/mosaique/7.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  grid-area: projet8;
  background: url(img/mosaique/8.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: projet9;
  background: url(img/mosaique/9.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: projet10;
  background: url(img/mosaique/10.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: projet11;
  background: url(img/mosaique/11.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(12) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: projet12;
  background: url(img/mosaique/12.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: projet13;
  background: url(img/mosaique/13.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: projet14;
  background: url(img/mosaique/14.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(15) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: projet15;
  background: url(img/mosaique/15.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body div:nth-of-type(2) ul li:nth-child(16) {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
  grid-area: projet16;
  background: url(img/mosaique/16.png) no-repeat;
  background-size: contain;
  background-position: center center;
  width: auto;
  height: 10pc;
  list-style-type: none;
}

html body div:nth-of-type(2) ul li:hover {
  opacity: 0.6;
}

html body footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

html body footer a {
  font-size: 45px;
  text-decoration: none;
  color: #e5e5e5;
  border-radius: 5px;
  margin-bottom: 1px;
}

html body footer a:nth-of-type(1) {
  background: url(img/ig.svg) no-repeat;
}

html body footer a:nth-of-type(2) {
  background: url(img/fb.svg) no-repeat;
}

html body footer :hover {
  opacity: 0.8;
}

html label {
  display: none;
  width: 26px;
}

html #toggle {
  display: none;
}
/*# sourceMappingURL=main.css.map */