html {

  scroll-behavior: smooth;
  height: 100vh;

  body {
      background-color: #e5e5e5;

    /* Première section */
    section:nth-of-type(1) {

      height: 100vh;

      #logo {
          width: 5pc;
          top: 10%;
          left: 5%;
          position: absolute;
      }

      div {
        padding-top: 50vh;
        padding-bottom: 50vh;
        text-align: center;
        /* Fondue au noir sur les boutons du menu */
        a {
        text-decoration: none;
        font-family: "Courier New", sans-serif;
        color: black;
        margin: 1pc 1pc;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        }

        :before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        }
        :hover, :focus, :active {
        color: #939598;
        }
        :hover:before, :focus:before, :active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        }
      }

      #depuis {
        font-size: 68%;
        left: 30%;
        top: 10%;
        position: absolute;
        font-family: "Courier New", sans-serif;
        text-decoration: none;
        color: black;
      }
    }

    /* Deuxième section */
    section:nth-of-type(2) {

      height: 100vh;
      padding-top: 20vh;
      padding-bottom: 20vh;
      padding-left: 5%;
      padding-right: 5%;

      div{
        //float:left;
        height: 60vh;
        //padding-top: 5vh;
        //padding-bottom: 5vh;
        padding-left: 5%;
        padding-right: 5%;
        display: grid;

        @media screen and (min-width: 1300px) {

          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(6, 1fr);

          grid-template-areas: 
          "projet1 projet2 projet3"
          "projet4 projet5 projet6"
          "projet7 projet8 projet9"
          "projet10 projet11 projet12"
          "projet13 projet14 projet15"
          ". projet16 .";          
        }

        @media screen and (min-width: 1300px) {

          grid-template-columns: repeat(9, 1fr);
          grid-template-rows: repeat(4, 1fr);

          grid-template-areas: 
          "projet1 projet2 projet3 . projet4 projet5 . . projet8"
          "projet9 projet10 . projet13 projet14 . . projet16 ."
          ". projet11 . . . projet6 projet7 . ."
          ". . projet12 . projet15 . . . .";
          
        }

        @for $i from 1 through 16 { 
          area:nth-child(#{$i}) {
              grid-area: projet#{$i};
              background: url(img/mosaique/#{$i}.png) no-repeat;
              background-size: contain;
              //background-size: inherit;
              background-position: center center;
              border-radius: 1em;
              //padding: 1em;
              height: 8pc;
              width: 8pc;
              
              -webkit-transform: perspective(1px) translateZ(0);
              transform: perspective(1px) translateZ(0);
              box-shadow: 0 0 1px rgba(0, 0, 0, 0);
              -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
              -webkit-transition-property: transform;
              transition-property: transform;
          }

          area:hover, area:focus, area:active {
              -webkit-transform: scale(1.3);
              transform: scale(1.3);
          }
        }
      }
    }

    /* Troisième section */
    section:nth-of-type(3) {
      //display: none;
      height: fit-content;
      width: 50vw;
      margin: 5vh 25vw;
      font-family: "Courier New", sans-serif;
      box-shadow: 10px 10px 10px 10px #888888;

      #navigation {
        padding: 1pc 50%;
        text-decoration: none;
        width: 50%;
      }

      #texte {
        padding: 1em;
      }

      .carousel-indicators {
        bottom: 0;
      }
    }

    /* Quatrième section */
    section:nth-of-type(4) {
      //display: none;
      height: 100vh;
    }
    /* Cinquième section */
    section:nth-of-type(5) {

      height: 100vh;
      padding-top: 10vh;
      padding-bottom: 10vh;
      
      div{

        vertical-align: middle;
        text-align: center;
        height: fit-content;

        div:nth-of-type(1) {
          background: url(img/mosaique/carreJaune.png) no-repeat;
          height:9pc;
          width: 9pc;
          display: inline-block;
        }

        div:nth-of-type(2) {

          display: inline-block;
          text-align: initial;
          height: fit-content;

          :nth-child(2) {
            margin: 1.5pc auto;
          }

          p a span { font-size:1.5em; }

          a {
            text-decoration: none;
            color: black;
            font-family: "Courier New", sans-serif;
          }
        
          a:nth-child(5){
            background: url(img/ig2.svg) no-repeat;
            color: #e5e5e5;
            font-size: 45px;
          }

          a:nth-child(6) {
            background: url(img/fb2.svg) no-repeat;
            color: #e5e5e5;
            font-size: 45px;
          }
        }

        div:nth-of-type(3) {

          display: inline-block;
          height: fit-content;

          ul{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            list-style-type: none;

            grid-template-areas: 
            ". . carreblanc"
            ". carrenoir1 ."
            "carrenoir2 . .";

            li:nth-child(3) {
              background: url(img/mosaique/carreBlanc.png) no-repeat;
              grid-area: "carreblanc";
              background-size: contain;
              background-position: center center;
            }

            li:nth-child(5) {
              background: url(img/mosaique/carreNoir.png) no-repeat;
              grid-area: "carrenoir1";
              background-size: contain;
              background-position: center center;
            }

            li:nth-child(7) {
              background: url(img/mosaique/carreNoir.png) no-repeat;
              grid-area: "carrenoir2";
              background-size: contain;
              background-position: center center;
              width: 8pc;
              height: 8pc;
            }
          }
        }
      }
    }
  }
  
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding-bottom: 1pc;

  area {
    color: #e5e5e5;
    width: 2em;
    height: 2em;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
  area:nth-of-type(1) {
      background: url(img/ig.svg) no-repeat;
  }

  area:nth-of-type(2) {
      background: url(img/fb.svg) no-repeat;
  }

  :hover, :focus, :active {
      -webkit-transform: scale(1.3) translateZ(0);
      transform: scale(1.3) translateZ(0);
  }

  @keyframes hvr-buzz-out {
      10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
      }
      20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
      }
      30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
      }
      40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
      }
      50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
      }
      60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
      }
      70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
      }
      80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
      }
      90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
      }
      100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
      }
    }
  }
}